TZ=America/Chicago

MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_TOPIC=tempsensor/readings
SAMPLE_INTERVAL=60
TIMER_START_MIN=90

# Set by make start (TestUnit + serial number)
TEST_UNIT=Pro18.1
SERIAL_NUMBER=73216-0098
CSV_DIR=exports
